body {
  background-color: whitesmoke;
  margin: 0 auto;
}

.header-class {
  width: 80%;
  margin: 0 auto;
}

.div-img {
  max-width: 120px;
}

.header-color {
  background-color: #ff2643;
}

header::after {
  content: '';
  display: table;
  clear: both;
}

/* ********** */
/* Navigation */
/* ********** */
.desktop-nav {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  flex-wrap: wrap;
}

.desktop-nav a {
  text-decoration: none;
  background-color: #000000;
  padding: 4px 25px;
  border-radius: 12px;
  color: white;
  transition-duration: 0.4s;
}

.desktop-nav a:hover {
  background-color: #737373;
}


.desktop-nav ul {
  margin-left: auto;
  margin-top: 15px;
  padding: 0px;
  list-style: none;
  font-family: 'Teko', sans-serif;
  font-size: 25px;
  flex-wrap: wrap;
}

.desktop-nav li {
  display: inline-block;
  margin-left: 20px;
  margin-top: 25px;
}

/* ********* */
/* Hero Card */
/* ********* */

.hero-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}

.hero-pic {
  background-image: url(/assets/images/86drift.jpg);
  background-position: center;
  background-repeat: no-repeat;
  height: 90vh;
  width: 100%;
}

.hero-pic h1 {
  color: whitesmoke;
  background-color: hsla(1, 10%, 10%, 0.8);
  padding: 15px 20px 15px 20px;
  margin: 40px 20px auto 20px;
  border-radius: 20px;
  border: 1px solid black;
}

.hero-pic p {
  text-align: center;
  font-size: 30px;
  padding: 20px;
  margin: 20px 5vw 10px 5vw;
  border-radius: 20px;
  color: whitesmoke;
  font-family: 'Lato', sans-serif;
  background-color: hsla(1, 10%, 10%, 0.8);
  border: 1px solid black;
}

.hero-pic button {
  font-size: 30px;
  font-family: 'Teko', sans-serif;
  padding: 10px;
  border-radius: 20px;
  color: black;
  background-color: whitesmoke;
  border-style: none;
  transition-duration: 0.4s;
  border: 3px solid #ff3852;
  margin-top: 35px;
}

button:hover {
  background-color: #ff2643;
}

/* **** */
/* Body */
/* **** */

h1 {
  font-size: 80px;
  font-family: 'Teko', sans-serif;
  text-align: center;
  margin: 0 auto;
}

h2 {
  font-size: 45px;
  font-family: 'Teko', sans-serif;
  margin: 25px auto 5px auto;
  padding-bottom: 0px;
  text-align: center;
}

h3 {
  font-size: 25px;
  font-family: 'Teko', sans-serif;
  margin: 15px 0px 3px 0px;
  padding: 0 auto;
}

.article-text {
  font-size: 20px;
  margin: 0px 0px 30px 0px;
  padding: 0 auto;
  line-height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 100ch;
}

.article-list {
  font-size: 20px;
  margin: 0px 60px 10px 30px;
  padding: 0 auto;
}

.article-text p {
  font-family: 'Lato', sans-serif;
}

/* ****** */
/* Footer */
/* ****** */


.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #ff2643;
  padding: 10px;
  margin: 30px 0px 0px 0px;
}

.footer-text {
  font-size: 15px;
  margin-bottom: 0px;
  padding: 10px;
}

.footer-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 0 auto;
  padding: 0 auto;
}

.footer-logo {
  width: 50px;
  margin: 5px 20px 5px 20px;
  max-width: 50px;
  max-height: 50px;
}

.list-style {
  list-style: none;
  display: inline;
  text-decoration: none;
}

footer ul {
  padding: 0;
}

a {
  text-decoration: none;
}

/* ***** */
/* Video */
/* ***** */

.vid-box {
  width: 90vw;
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 30px auto 30px auto;
}

/* ****** */
/* Mobile */
/* ****** */
.mobile-nav {
  display: none;
}

.mobile-nav a {
  list-style: none;
  text-decoration: none;
  color: white;
  background-color: #000000;
  border-radius: 5px;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  padding: 10px 80px;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 40px;
  height: 8px;
  margin: 8px auto;
  transition: all 0.3s ease-in-out;
  background-color: black;
}
@media screen and (max-width: 768px) {
  .article-text {
    font-size: 16px;
    margin: auto 15px auto 15px;
  }
  .hero-pic h1 {
    font-size: 50px;
  }
  .hero-pic p {
    font-size: 20px
  }
  .footer-logo {
    width: 40px;
  }

  h2 {
    font-size: 35px;
  }

  .hero-pic {
    height: 60vh;
    background-image: url(/assets/images/supra.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
  }
  
  .desktop-nav ul{
    display: none;
  }

  .div-img {
    display: flex;
    justify-content: space-around;
  }

  /* ************* */
  /* Hamburger Nav */
  /* ************* */
  .hamburger {
    display: block;
    margin-top: 30px;
  }

  .hamburger.open .bar:nth-child(2){
    opacity: 0;
  }
  .hamburger.open .bar:nth-child(1){
    transform: translateY(25px) rotate(45deg);
  }
  .hamburger.open .bar:nth-child(3){
    transform: translateY(-6.5px) rotate(-45deg);
  }

  .header-class {
    display: flex;
    justify-content: center;
    margin-left: 0px;
    margin-right: auto;
  }

  .mobile-nav{
    display: none;
  }

  .mobile-nav.open {
    position: absolute;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
    background-color: #ff4d64;
  }

  .mobile-nav ul {
    list-style: none;
  }

  .mobile-nav li {
    margin-top: 50px;
    margin-bottom: 20px;
  }

}